@import "tailwindcss";

body {
  @apply h-screen w-screen;
  font-family: var(--font-poppins);
  background-color: #00bfa6;
  background: center/cover no-repeat url("../public/background/bg.png");
  backdrop-filter: blur(15px);
  overflow: hidden;
  color: #fff;
}

h2 {
  @apply text-4xl md:text-5xl lg:text-6xl;
}

p {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

a {
  text-decoration: none;
  @apply text-xl;
}

@theme {
  --animate-flashing: flashing 2s infinite;

  @keyframes flashing {
    0%,
    18%,
    21%,
    32%,
    35%,
    39%,
    42%,
    100% {
      box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 25px #4dcdff,
        inset 0 0 25px #4dcdff, 0 0 40px #4dcdff, inset 0 0 40px #4dcdff;
    }
    20%,
    34%,
    41% {
      box-shadow: none;
    }
  }
}
