@import "tailwindcss";

body {
  @apply h-screen w-screen;
  font-family: var(--font-poppins);
  background-color: #00bfa6;
  background: center/cover no-repeat url("../public/background/bg.png");
  backdrop-filter: blur(15px);
  overflow: hidden;
  color: #fff;
}

a {
  text-decoration: none;
  @apply text-xl;
}
