@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply min-h-screen w-full;
  font-family: var(--font-poppins);
  background-color: #00bfa6;
  color: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: center/cover no-repeat url("../public/background/bg.png");
  filter: blur(15px);
  scale: 1.1;
}

h1 {
  @apply text-4xl md:text-5xl lg:text-6xl;
}

h2 {
  @apply text-3xl md:text-4xl lg:text-5xl;
}

h3 {
  @apply text-2xl md:text-3xl lg:text-3xl;
}

p {
  @apply text-base/7 md:text-lg lg:text-xl;
}

a {
  text-decoration: none;
  @apply text-xl;
}

@layer components {
  .burger-line {
    @apply bg-white block h-0.5 w-6 rounded-sm transition-all ease-out duration-300;
  }
}

@theme {
  --animate-flashing: flashing 2s infinite;

  @keyframes flashing {
    0%,
    18%,
    21%,
    32%,
    35%,
    39%,
    42%,
    100% {
      box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 25px #4dcdff,
        inset 0 0 25px #4dcdff, 0 0 40px #4dcdff, inset 0 0 40px #4dcdff;
    }
    20%,
    34%,
    41% {
      box-shadow: none;
    }
  }
}
